# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo
.Python

# Virtual Environment
venv/
ENV/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment Variables
*.env
*.env.*

# VSCode
.vscode/

# JetBrains (PyCharm)
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Testing and Coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build
build/
dist/
*.egg-info/

# Migrations
migrations/

# Others
*.bak
*.old
*.orig
